#adminContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.separator {
    width: 40em;
}

.report {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    min-width: 45%;
    height: 650px;
    overflow-y: auto;
    justify-content: flex-start;
}

#image-profil-report {
    width: 80px;
    height: 80px;
    margin-right: 3px;
}

#image-profil-report:hover {
    cursor: pointer;
}

#card-contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.myReportCard {
    margin: 5px;
}

h5:hover {
    cursor: pointer;
}

.descriptionCard {
    margin-bottom: 10px;
    cursor: pointer;
}

.divSignalisation {
    overflow-y: scroll;
}