/* GLOBAL */
html {
    min-height: 100%;
}

body{
    background: linear-gradient(#676767,#4169e1ab) fixed;
}

button{
    border-radius: 5px;
}

input{
    padding-left: 1em;
    border: 1px solid black;
}

textarea {
    max-width: 100%;
    resize: none;
}

/* NAV BAR */
.navbar-custom {
    background-color: #4169E1;
    color: black;
    border-bottom: 1px solid black;
}

.text-color{
    color: black;
}


.divNavContenu{
    display: flex;
}

#divAuthentification{
    margin-left: auto;
}

@media only screen and (max-width: 992px) {
    .itemsMobileVersion{
        display: flex;
        margin-top: 1em;
    }
    
}

/* TITRE DU SITE */

.titreDuSite{
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

.premiereLettre{
    color: #4169E1;
}

/* Termes et Conditions */
.contentConditions {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #cac7c7;
    border-radius: 5px;
  }


  /* SEARCH BAR */

  #searchBarForm{
      margin-top: 2em;
      display: flex;
      justify-content: center;
  }

  #searchBar{
      width: 50em;
      border-radius: 20px;
      border-width: 5px;
      border-color: #4169E1;
  }


  /* MODAL INSCRIPTION */
  .modalCustom{
    background-color: #888a8a;
    color: white;

  }

  .itemInput{
    float:none;
    margin:auto;
  }

  .modalHeader{
      background-color: #5c5e5f;
      border-bottom: 1px solid black;
  }

  .modalFooter{
    border:0;
  }

  .modalInput{
      background-color: rgb(241, 238, 238);
  }



  /* MODAL CONNEXION */

  /* Front-page */

  #containerFrontPage{
      display: flex;
  }
  #premiereSection {
      display: flex;
      flex-direction: row;
      flex: 2;
      margin-top: 2em;
  }
  #premiereColonne {
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  #deuxiemeColonne{
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .image-explication{
      height: 15em;
      width: 30em;
  }
  .text-Format{
      
  }