/* GLOBAL */
html {
    min-height: 100%;
}

body {
    background: linear-gradient(#676767, #4169e1ab) fixed;
}

button {
    border-radius: 5px;
}

input {
    padding-left: 1em;
    border: 1px solid black;
}

textarea {
    max-width: 100%;
    resize: none;
}

/* NAV BAR */
.navbar-custom {
    background-color: #4169E1;
    color: black;
    border-bottom: 1px solid black;
}

.text-color {
    color: black;
}


.divNavContenu {
    display: flex;
}

#divAuthentification {
    margin-left: auto;
}

/* toast */
.toast-container {
    z-index: 10000;
}

@media only screen and (max-width: 992px) {
    .itemsMobileVersion {
        display: flex;
        margin-top: 1em;
    }

}

/* TITRE DU SITE */

.titreDuSite {
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

.premiereLettre {
    color: #4169E1;
}

/* Termes et Conditions */
.contentConditions {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #cac7c7;
    border-radius: 5px;
}


/* SEARCH BAR */

#searchBarForm {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

#searchBar {
    width: 50em;
    border-radius: 20px;
    border-width: 5px;
    border-color: #4169E1;
}


/* MODAL INSCRIPTION */
.modalCustom {
    background-color: #888a8a;
    color: white;

}

.itemInput {
    float: none;
    margin: auto;
}

.modalHeader {
    background-color: #5c5e5f;
    border-bottom: 1px solid black;
}

.modalFooter {
    border: 0;
}

.modalInput {
    background-color: rgb(241, 238, 238);
}




  /* MODAL CONNEXION */

  /* Front-page */

  #containerFrontPage{
      display: flex;
      flex-direction: column;
  }
  #premiereSection {
      display: flex;
      flex-direction: row;
      flex: 2;
      margin-top: 2em;
  }
  #premiereColonne {
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  #deuxiemeColonne{
    flex-direction: column;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .image-explication{
      height: 20em;
      width: 40em;
      border-radius: 10px;
  }
  .text-Format{
      height: 15em;
      width: 35em;
      background-color: white;
      color: black;
      border: 5px solid #4169E1;
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
      padding: 1em;
  }

  #deuxiemeSection{
    display: flex;
    flex-direction: column;
    flex: 3;
    margin-top: 2em;
  }

  #type-abonnement{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex: 1;
  }
  .case-abonnement{
    border: 5px solid #4169E1;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 15em;
    padding: 1em;
  }
  #raison{
    align-self: center;
    justify-self: center;
    width: 80em;
    height: 10em;
    border: 5px solid #4169E1;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
  }
  #about-us{
    align-self: center;
    justify-self: center;
    width: 80em;
    height: 10em;
    border: 5px solid #4169E1;
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
  }
  #sign-button{
    margin-top: auto;
    height: 2em;
    width: 10em;
    border-radius: 50px;
    border: 5px solid #C0C0C0;
    line-height: 5px;
  }
  #upgrade-button{
    margin-top: auto;
    height: 2em;
    width: 10em;
    border-radius: 50px;
    border: 5px solid #FDD017;
    line-height: 5px;
  }


